#heading{
color:black;
font-family: Georgia, 'Times New Roman', Times, serif;
color: #FCF6F5FF;
font-size: xx-large;
font-weight: bold;
position: relative;
top: -15px;
left:60px;

}

#mbody{
    background-color: #89ABE3FF;
    height:425px;
    width: 300px;
    top:150px;
    left: 600px;
    position:relative;
    outline-color: black;
    outline-style: auto;
    border-radius: 20px;
    
}


#display{
    height:50px;
    width: 172px;
    position: relative;
    top:20px;
    left:30px;
    background-color: #d5e5da;
    border-radius: 10%;
    font-size: x-large;
    /* font-family: 'Times New Roman', Times, serif;
    font-weight: bold; */
    text-align: center;
    outline-color: black;
    outline-style: auto;
    
}
#equals{
    height: 52px;
    width: 52px;
    position:relative;
    top:20px;
    left: 40px;
    font-size: x-large;
    border-radius: 15%;
}

.buttons{
    height:50px;
    width:50px;
    font-size: x-large;
    margin-top: 5px ;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 15%;
    background-color: #FCF6F5FF;
    
}

#table{
    top: 35px;
    left:25px;
    position: relative;
   
}

body{
    background-color: #FCF6F5FF;
    margin: 0% 0% 0% 0%;
}

img{
    height:39px;
    width:39px;
}

#dark_or_default{
    position:absolute;
    left:95%;
    top:12%;
    background: transparent;
    border-radius: 15%;
    outline-style: auto;
    outline-color: antiquewhite;
}

#Clear{
    height:50px;
    width:50px;
    font-size: large;
    margin-top: 5px ;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 15%;
    padding-left:1.7px ;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

#Ans{
    height:50px;
    width:50px;
    font-size: large;
    margin-top: 5px ;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 15%;
    padding-left:2.5px ;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}
#Delete{
    height:50px;
    width:50px;
    font-size: large;
    margin-top: 5px ;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 15%;
    padding-left:2.5px ;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

#header{
    background-color:#89ABE3FF;
    width: 100%;
    height:10%;
    position: absolute;
}
html{
    height: 100%;
    overflow: hidden;
}
#calc{
position: relative;
top: -120%;
left: 10px;
height:50px;
width: auto;
}